.box-lo {
  align-items: center;
  background-color: #fff;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  height: 60vh;
  justify-content: center;
  width: 100vw;
}

.box-lo__frame {
  align-items: center;
  background-color: #c2f7d3;
  background-position: center;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.box-lo__box {
  background: fade-out(white, 0.15);
  border-radius: 3px;
  padding: $l-size $m-size;
  text-align: center;
  width: 25rem;
}

.box-lo__dine:hover:not(.active) {
  box-shadow: inset 0 0 0 3px $kelly-green;
  opacity: 0.5;
  color: #793c24;
  text-align: center;
  font-size: 15px;
}

.box-lo__title {
  color: $black;
  text-align: center;
  text-decoration: none;
  margin: 0 0 0;
}

.img-responsive {
  background: url("/images/python_if.jpg") top right no-repeat;
  background-position: center;
}
