.header {
  background-color: #f0a6a6;
  background: -moz-linear-gradient(
    left,
    rgba(242, 246, 248, 1) 0%,
    rgba(216, 225, 231, 1) 50%,
    rgba(181, 198, 208, 1) 51%,
    rgb(68, 127, 167) 100%
  );
}

.header__content {
  justify-content: space-between;
  padding: $s-size 0;
}

.header__title {
  font-family: "Arial Black", Gadget, sans-serif;
  color: $dark-blue;
  text-align: center;
  text-decoration: none;
  h1 {
    margin: 10px;
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: flex;
  color: $black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  box-shadow: inset 0 0 0 10px $light-aqua;
  opacity: 0.5;
}

.active {
  background-color: $kelly-green;
}
