.titleResume  {
  text-align: center;
  font-size:  25px ;
  font-family:  Calibri Light 
};

.subtitleResume {
  color: black;
  font-size: 14px;
  font-family: Palatino, URW Palladio L, serif ;
  text-align:  center;
  padding:  2em, 0.05em, 0, 2em ;
  padding-bottom:  0.5em ;
  margin:  0 0 0 ;
  line-height:  1 ;
};

.pResume  {
  text-align: center;
  font-size: 12px,
};

.separResume {
   text-align:  center ;
   font-size:  14px ;
};

.colResume {
  color:  black ;
   font-size:  10px ;
   font-family:  Palatino, URW Palladio L, serif ;
   text-align:  center ;
};

.subheadResume {
  color:  black ;
   font-size:  10px ;
   font-weight:  bold ;
   font-family:  Palatino, URW Palladio L, serif ;
   text-align:  left ;
};

.lsResume {
  line-height:  .90 ;
};

.bulletResume {
  display:  inline-block ;
  padding-left:  15px;
}