.shop_box {
  background-color: rgb(145, 210, 229);
  text-align: center;
  border: 1px solid;
  padding: 10px;
  margin: 10px;
  box-shadow: 5px 10px;
}

.shop_title {
  text-shadow: 0px 0px 10px white, 0px 0px 20px white, 0px 0px 30px white,
    0px 0px 40px white, 0px 0px 50px white, 0px 0px 60px white,
    0px 0px 70px white;
}
.shop_title:hover {
  color: rgb(33, 16, 185);
}
