.pic {
  align-items: center;
  background: url("/images/pythonif.jpg") top right no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}
